<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Auth">
            <directory>tests/Feature/Auth</directory>
            <directory>tests/Unit/Auth</directory>
        </testsuite>
        <testsuite name="Auth-Feature">
            <directory>tests/Feature/Auth</directory>
        </testsuite>
        <testsuite name="Auth-Unit">
            <directory>tests/Unit/Auth</directory>
        </testsuite>
        <testsuite name="Catalog">
            <directory>tests/Feature/Catalog</directory>
            <directory>tests/Unit/Catalog</directory>
        </testsuite>
        <testsuite name="Catalog-Feature">
            <directory>tests/Feature/Catalog</directory>
        </testsuite>
        <testsuite name="Catalog-Unit">
            <directory>tests/Unit/Catalog</directory>
        </testsuite>
        <testsuite name="Purchasing">
            <directory>tests/Feature/Purchasing</directory>
            <directory>tests/Unit/Purchasing</directory>
        </testsuite>
        <testsuite name="Purchasing-Feature">
            <directory>tests/Feature/Purchasing</directory>
        </testsuite>
        <testsuite name="Purchasing-Unit">
            <directory>tests/Unit/Purchasing</directory>
        </testsuite>
        <testsuite name="Sales">
            <directory>tests/Feature/Sales</directory>
            <directory>tests/Unit/Sales</directory>
        </testsuite>
        <testsuite name="Sales-Feature">
            <directory>tests/Feature/Sales</directory>
        </testsuite>
        <testsuite name="Sales-Unit">
            <directory>tests/Unit/Sales</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="mysql"/>
        <env name="DB_HOST" value="localhost"/>
        <env name="DB_PORT" value="3306"/>
        <env name="DB_DATABASE" value="stokio_test"/>
        <env name="DB_USERNAME" value="root"/>
        <env name="DB_PASSWORD" value="root"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
